<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="CGIHandler" path="*.cgi" verb="*" modules="CgiModule" scriptProcessor="C:\Strawberry\perl\bin\perl.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
