
      /* Set font family and background color for the body */
      p {
          color: blue;
      }
      h2 {
          color: red;
      }
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
      }

      /* Style headings */
      h1 {
        color: yellow;
      }

      /* Add a border to images */
      img {
        border: 2px solid #ddd;
      }

      /* Style links */
      a {
        color: black;
      }

      /* Add hover effect to links */
      a:hover {
          text-decoration: underline;
          color: red;
      }
      /* Center an element horizontally */
      .center-horizontal {
            margin: 0 auto;
            width: 50%;
      }

      /* Center an element vertically */
      .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
      }
  /* Apply some basic styles for layout */
   header {
       text-align: center;
       background-color: #0074d9;
       color: black;
       padding: 10px;
   }

   .container {
       max-width: 960px;
       margin: 0 auto;
       padding: 20px;
       display: flex; /* Use Flexbox for layout */
       flex-wrap: wrap; /* Allow items to wrap to the next row if needed */
       justify-content: space-between; /* Space items evenly horizontally
   }

   /* Create separate sections */
   .section {
       background-color: #f0f0f0;
       padding: 20px;
       margin-bottom: 20px;
       box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.1);
       border: none; /* Set border to none to make it invisible */
       overflow: hidden; /* Clear floated elements within this container */
       flex-wrap: wrap;
       align-items: center; /* Vertically center the content */
   }

   /* Style for the photo */
   .photo {
       float: left;
       margin-right: 250px;
       max-width: 200px; /* Set a maximum width for the photo */
   }
   /* Clear floats after floating elements */
   .clear {
       clear: both;
   }

   /* Style for portfolio items */
   .portfolio-item {
       margin-top: 20px;
   }

   .portfolio-item h2 {
       color: #333;
   }
   .about-content {
          overflow: hidden; /* Clear floated elements within this container */
          flex-wrap: wrap;
          align-items: center; /* Vertically center the content */
          flex-basis: calc(50% - 10px); /* 50% width minus spacing */
  }
  .contact-section {
      margin-top: 0; /* Remove the top margin */
  }
